.reports-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.report {
  width: 45%;
  margin: 10px;
}

@media (max-width: 768px) {
  .reports-container {
    flex-direction: column;
  }

  .report {
    width: 100%;
  }
}

li {
  list-style-type: none;
}
